@import "bootstrap.min.css";
@import "font-awesome.min.css";
.insta-back,.card
{
    

    background:linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
}
/* nav  style css */
.logo
{
    position:absolute;
    left:20px;
    z-index:4444;
    height: 30px;
}
.logo>img{
    height:40px;
}
.navbartab
{
    height:40px;
    padding-left:35px;
    right:0%;
    border:none;  
    position: absolute;
    /* clip-path: polygon(0 0, 100% 0%, 100% 99%, 18% 100%); */
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 11% 98%);
    z-index: 2222;
    box-shadow: 0px 0px 5px grey;
    
    
}
.nav-link{
    color: #ecf0f1;
    text-shadow:2px 2px 5px blue;
}
.nav-link:hover{
    color: #ecf0f1;
}
/* notice slider nav bottom */
.notice-slider
{
    width:100%;
    height: 30px;
    position: absolute;
    z-index: 3333;
    bottom: 0px;
    background: rgba(209, 198, 198, 0.541);

}
.txt-alert{
    font-size: 1.4em;
    font-weight: bolder;
    text-transform: capitalize;
    color:white;
}
.txt-marquee
{
    
    color:red;
    margin-top:5px;
    text-transform: capitalize;
    /* text-shadow: 1px 1px 7px rgb(216, 5, 86); */
    font-weight:300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.notice-alert
{
    width:15%;
    height:100%;
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    z-index: 3334;
}
/* event style section */
.event-cat
{
 
    color: #ecf0f1;
    margin-bottom:10px;
    box-shadow: 0px 0px 10px gray;
    padding-bottom: 30px;
    padding-left: 15%;
}
/* gallery css */
.headingtab
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px gray;
    clip-path: polygon(0% 15%, 29% 27%, 15% 0%, 85% 0%, 68% 30%, 100% 15%, 100% 85%, 68% 74%, 85% 100%, 15% 100%, 31% 74%, 0% 85%);
}
/* contact us tab css */
.contact
{
    margin-left: 20px;
    padding: 10px;
    color: aliceblue;
    width:auto;
}
.card{
    margin-top: 20px;
}

.social-tab
{
    float: right;
    margin-right:40px;
    margin-top: 20px;
    /* background: white; */
    padding: 0%;
    border-radius: 20px;
}
.list-item
{
    cursor: pointer;
}
.linked
{
    color: rgb(12, 73, 206);
}
.youtube
{
    color:rgb(156, 9, 9);
}
.facebook
{
    color: blue;
}
.twitter
{
    color: rgb(13, 76, 148);
}
.cpy
{
    
    position: absolute;
    bottom: 0px;
}
.text-center
{
    text-align: center;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.card-body{
    color: aliceblue;
    font-size: 14px;
    font-weight: bolder;
    
    text-shadow: 0px 0px 5px black;
}
.card{
    overflow: auto;
    min-height: 200px;
    max-height: 600px;
}
.slide-show
{
    max-height: 400px;
}
.container
{
position: relative;
}
.popupwindow
{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(122, 103, 103, 0.575);
    z-index: 5555;
    color: white;
}
.closePopUp
{
    position:absolute;
    font-weight: bolder;
    right:2px;
    z-index: 3333;
    top: 0px;
    color: white !important;
    text-shadow: 2px 2px 12px rgb(2, 23, 54);
    cursor: pointer;
    font-size:40px;

}
.list-item1{
    background: rgba(209, 198, 198, 0.541);
    height:24px;
    width:70%;
    margin-top: 3px;
    text-align: center;
    border:2px inset gray;
    /* border-radius: 25px; */
    padding-left: 10px;
}
.list-item1:hover{
    box-shadow: 0px 0px 10px black;
    border:2px double  rgba(0, 255, 55, 0.808);;
}
.list-item1:hover>.plus
{
    color: rgba(20, 77, 20, 0.76);
    text-shadow: 0px 0px 0px gray;
}
.text-left-l{
/* text-align: left; */
padding-left: 5%;
text-shadow:0px 0px 14px #130f40;
}
.text-right-t
{

margin-left: 13%;
text-shadow:0px 0px 14px #130f40;

}

.plus
{
    float:right;
    margin-top: 3px;

}
.grule
{
    
    width:300px;
    border:1px solid white;
    
    left:37%;
    color: aliceblue;
    font-size: 14px;
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    z-index:222;
    padding: 10px;
    box-shadow: 0px 0px 20px gray;
}
.intxt
{
    background:rgba(196, 212, 200, 0.13);
    padding:10px;
    box-shadow: 0px  0px  10px gray;
}
.eventtagline
{
    color: rgb(31, 0, 116);
    text-align: left;
    text-shadow: 0px  0px 2px blue;
    padding:10px 20px;
}
.aboutustxt
{
    background: rgb(236, 234, 234);
    font-size: 16px;
    box-shadow: 0px 0px 10px gray;
}
.abheader
{
    color: rgb(214, 15, 8);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37);
    font-weight: bold;
}

.tdd:nth-child(even)
{
border-left: 2px solid white;
}
.trr
{
text-transform: capitalize;
}
.thead-txt
{
    background: rgba(255, 238, 0, 0.753);
    padding: 2px;
    
text-align: center;

}

.tbl-ft
{
    background: rgba(0, 47, 255, 0.26);
color: white;
text-align: center;
text-shadow: 0px 0px 15px  black;

}
.footer
{
    margin-top: 20px;
    box-shadow: 0px 0px 10px gray;
}
@media only screen and (max-width: 600px) {

    .navbartab{
        position: relative;
        top: 0px;
        padding:0px;
        width: 100%;
        overflow: hidden;
        clip-path: none;
        right:0%;
    }
    .nav-link{
        font-size:12px;
    }
    .popcard
    {
        height: 100%;
        width:100%;
    }
    .closePopUp{
        position: relative;
        left:0px;
    }
    .grule{
        position: relative;
        left:0%;
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }
    .social-tab{
        float: left;
    }
    .text-right-t{
        text-align: left;
        margin-left:0px;
    }
    .list-item1{
        width:100%;
        padding-left: 0%;
    }
    .text-left-l,.text-right-t{
        margin-left:0%;
    }
    .event-cat{
        padding-left:0%;
    }
    .logo{
display: none;
    }
    .cpy
    {
        position: relative;
        bottom:0px;
    }
    .social-tab{
        position: relative;;
        bottom: 10px;
    }
.txt-alert{
    font-size: 1em;
}
    
} 
@media only screen and (min-width: 1000px){
.grule{
    
    width:300px;
    position: absolute;
    
}

}
